<select id="job_title" name="customer[tag]">
  <option value="">Select Job Title</option>
  <option value="job_title_1">Job Title 1</option>
  <option value="job_title_2">Job Title 2</option>
  <option value="job_title_3">Job Title 3</option>
</select>
