<div class="shogun-root" data-shogun-id="64c2b8dccb254500e982e1e5" data-shogun-site-id="ebede945-96ee-4e49-9818-825c29bb51da" data-shogun-section-id="64c2b8dccb254500e982e1e5" data-shogun-section-version-id="64c2c1985ab02200c90f68c6" data-shogun-platform-type="shopify" data-shogun-variant-id="64c2c1985ab02200c90f68e1" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-07-26-0015/64c2c1985ab02200c90f68e1.css" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-47055cef-64ff-4cf6-8a80-31d4fb0be7f5"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-c29b91e9-55b8-4823-a9f4-6d91f72240b5"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="text-align: center;"><span style="font-size: 18px; color: rgb(255, 255, 255); font-family: Montserrat;" data-fontfamily="Montserrat">Copyright  &copy; Global Dental Shop, Owned And Managed By GDS LLC</span></p></div>

</div>

      </div>
    </div>
  </div>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-07-26-4053/global-assets-a88cb429dfd3597bc8f1d1e2fea860647dff26a0.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Copywrite Banner",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=64c2b8dccb254500e982e1e5&shop=www.globaldentalshop.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Copywrite Banner",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
